.container-fluid{padding-left: 150px;padding-right: 150px;}
.simple_search{float: left;}
/*.nav-menus-wrapper{margin-top: 40px;}*/
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.btn {color: #000000;}
.text-left{text-align: left;}
.noBg{background-color: transparent !important;}
a.link:hover, a.link:focus, a:hover, a:focus{color: #0094D4;}

.cc_info-detail {
    position: relative;
    display: block;
    padding: 0 7px;
}
.cc_info-detail ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

}
.cc_info-detail ul li {
    display: flex;
    color: #515A6F;
    font-size: 14px;
    font-weight: 500;
    list-style: none;
    margin-bottom: 0 !important;
    flex-direction: column;
}

.cc_info-detail ul li i {
    margin-right: 5px;
}

.cc_info-detail ul li:first-child{flex: 1;} 
#courseContent .card{margin-bottom: 0;}
.btn.primary{background-color: #0094D4;border-radius: 3px;color: #fff;font-size: 14px;font-weight: 600;padding: 11px 25px;}
.btn.primary a{color: #fff;font-size: 14px;font-weight: 600;}
.btn.secondary{display: inline-block;}
.btn.secondary a{border: 1px solid #999999;padding: 10px;border-radius: 3px;color: #222222;font-size: 15px;font-weight: 600;display: block;text-align: center;}

.cc_info-detail .btn.primary{width: 100%;}

.text-default {
    color: #3d3f41 !important;
}
.card-header h6{color:#515A6F;font-size: 16px;font-weight: 600;}

.resource{border: 1px solid #515A6F;padding: 10px;position: relative;margin-top: 20px;}
.resource i.fa-chevron-down,.resource i.fa-chevron-up{float: right;}
#resource{padding-top: 10px;padding-left: 25px;}
#resource a{padding-bottom: 5px;display: block;}

#courseContent ul.cc li{margin-bottom: 20px;}
#courseContent ul.cc li a{display: block;padding: 10px;transition: all 0.5s;}
#courseContent ul.cc li a:hover{background-color: #D1D7DC;}
#courseContent ul.cc li span{margin-right: 5px;}
#courseContent ul.cc li .checkbox-custom + .checkbox-custom-label:before{border-color: #3d3f41;}    
#courseContent ul.cc li .checkbox-custom:checked + .checkbox-custom-label:before{border: 2px solid #3d3f41;background: transparent;}
#courseContent ul.cc li .checkbox-custom:checked + .checkbox-custom-label:after{color: #3d3f41;}
button.primary-btn {border: 1px solid;background-color: transparent;border-radius: 0;padding: 8px 12px;}
button.primary-btn img{margin-right: 15px;}

.navigation{height: auto;display: table;}
.nav-brand{padding: 5px 15px;}
.nav-menus-wrapper{display: flex;align-items: center;justify-content: end;}
.nav-menus-wrapper .simple_search{vertical-align: middle;margin: 0;max-width: 850px;}
.nav-menus-wrapper .simple_search input{height: auto;}
.nav-menus-wrapper .simple_search .btn{height: auto;}
.nav-header{display: table-cell;float: none;width: 24%;}
.brd-rgt{border-right: 1px solid #000 !important;}
.nav-menu>li>a.crs_yuo12{border: 0;}
.nav-menu>li> a .fa-bell:before{font-size: 18px;}
.nav-menu>li> a .embose_count{right: 5px !important;}
.nav-menu>li.bell{padding-right: 8px;}
.theme-bg{background: #000 !important;}
.theme-bg2{background: #0094D4 !important;}

.nav-pills .nav-link.active, .show>.nav-pills .nav-link{background-color: #000;}
.dashboard_wrap .nav-pills .nav-link.active, .dashboard_wrap .show>.nav-pills .nav-link{background:#CCEAF6;}
.dashboard_wrap .nav-pills .nav-link.active, .dashboard_wrap .show>.nav-pills .nav-link{color: #0094D4;border-color: #CCEAF6 !important;}
.breadcrumb-item.active {color: #0094D4;}
ul.nav.nav-second-level.collapse.show li.active a{color: #0094D4 !important;background: transparent !important;}
.dashboard_wrap .btn-wrap{margin-top: 20px;margin-bottom: 20px;}
.dashboard_wrap .btn-wrap .btn-ask-qst{margin-right: 15px;}

footer.dark-footer{background-color: #222222;}


  #main {
    transition: margin-right .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  .header{background: #fff;z-index: 4;position: relative;}



 footer .footer-bottom{background: #000;}
 .footer_widget p{font-size: 15px;color: #666666;font-weight: 500;}
 .footer_widget p strong{color: #000;font-weight: 600;}

 .prg-blk{display: flex;width: 200px;align-items: center;justify-content: center;}
 .prg-blk .item-img{width: 20%;margin: 0;}
 .prg-blk .progress-in{width: 80%;flex-direction: column;}
 .prg-blk .progress-in .progress{height: 17px;margin: 10px 0;}
 .prg-blk .progress-in p{font-size: 13px;color: #515A6F;font-weight: 600;margin: 0;}
 .prg-blk .progress-in p.blue{color: #0094D4;}

 .login-blk{display: flex;width: 200px;align-items: center;justify-content: center;margin: 0 15px;}
 .login-blk .item-img{width: 20%;margin: 0;}
 .login-blk .item-desc{width: 80%;flex-direction: column;padding-left: 12px;}
 .login-blk .item-desc p{font-size: 14px;color: #515A6F;font-weight: 500;margin: 0;line-height: 19px;}

 .inst-hdg-blk{display: flex;align-items: center;}
 .inst-hdg-blk .item-desc{padding-left: 15px;color: #222222;font-size: 20px;font-weight: 600;}
 .inst-hdg-blk .item-desc span{color: #515A6F;font-size: 15px;font-weight: 400;display: block;}
 .accordion .card p{color: #333333;font-size: 16px;font-weight: 400;}

 .qus-cmt-btm{display: flex;}
 .qus-cmt-btm li a:first-child{color: #0094D4;}
 .qus-cmt-btm li {color: #555555;font-size: 14px;font-weight: 400;border-left: 1px solid #555555;padding: 0 10px;}
 .qus-cmt-btm li:first-child{border: 0;padding-left: 0;}

 .reviews-comments-item{padding: 0 0 30px 45px;}
 .reviews-comments-item-text{padding: 0 20px 0 10px;position: relative;}
 .reviews-comments-item-text .review-comments-avatar{position: absolute;
  top: 0;
  left: 0px;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 0%;
}
 .reviews-comments-item-nos {
  float: right;
  font-weight: 500;
  color: #86889a;
  font-size: 13px;
  padding: 5px 10px;
  cursor: pointer;
}
.reviews-comments-item-nos:hover {
  background-color:rgba(0, 123, 255, 0.1);
  border-radius: 5px;
}

.reviews-comments-item-nos .arrow{margin-left: 5px;color: #000;}

.reviews-comments-item-nos img {
  margin-right: 10px;
}

.reviews-comments-item-nos code{margin-left: 10px;border: 1px solid #CFCFCF;padding: 2px 12px;border-radius: 23px;color: #222222;font-weight: 700;font-size: 14px;}

.comments-reply{float: left;
  width: 100%;
  position: relative;
  padding: 40px 20px 0 0;display: none;}
  .review-comments-avatar{border-radius: 0;}


  .comments-reply  .comments-reply-bx{padding-bottom: 30px;display: flex;position: relative;}
  .comments-reply  .comments-reply-bx .item-desc{position: relative;left: 55px;}
  .comments-reply  .comments-reply-bx .review-comments-avatar{position: absolute;width: 50px;height: 50px;}
  .comments-reply  .comments-reply-bx .qus-cmt-btm li:first-child{font-weight: 700;}
  .rly{color: #333333 !important;font-weight: 700;font-size: 15px;}
	.modal{z-index: 1050 !important;}
  .btn-ask-qst{display: inline-block;}
  .btn-ask-qst a{border: 1px solid #999999;padding: 10px;border-radius: 3px;color: #222222;font-size: 15px;font-weight: 600;display: block;text-align: center;}
  .askQstform .modal-title{color: #333333;font-size: 17px;font-weight: 700;}
  .askQstform .close{color: #0094D4;}
  .askQstform label{color: #333333;font-size: 15px;font-weight: 700;}
  .btn-ask-qst.lg{display: block;}

  .notes-bx{margin-bottom: 35px;}
  .notes-bx .hdg-blk{margin-bottom: 20px;}
  .notes-bx .hdg-blk .time{background-color: #000000;color: #fff;padding: 5px 10px;border-radius: 20px;font-size: 15px;font-weight:500;display: inline-block;margin-right: 15px;}
  .notes-bx .hdg-blk h3{color: #222222;font-size: 16px;font-weight:600;display: inline-block;}
  .notes-bx .hdg-blk .edit,.notes-bx .hdg-blk .dust{margin-right: 20px;float: right;}
  .notes-bx .hdg-blk .dust{margin: 0;}
  .notes-bx .item-desc{margin-left: 68px;background-color: #FAFAFA;padding: 25px;}
  .notes-bx .notes-msg-rly{display: flex;margin-bottom: 25px;}
  .notes-bx .notes-msg-rly .note-editor.note-frame{width: 100%;}
  .notes-bx .btn-wrap{text-align: right;}
  .notes-bx .btn-wrap .btn-ask-qst{margin-right: 15px;}
  #notes .simple-input{width: 120px;margin:0 0 30px 75px}
  
 .announcements-cmt-blk{padding: 20px 0 30px 0;}
 .announcements-cmt-blk .announcements-cmt-tp{padding-bottom: 20px;position: relative;}
 .announcements-cmt-blk .announcements-cmt-tp .announcements-cmt-avatar{position: absolute;top: 0;left: 0px;width: 70px;height: 70px;overflow: hidden;border-radius: 0%;}
 .announcements-cmt-blk .announcements-cmt-tp h4 {text-align: left;padding-bottom: 0px;font-size: 18px;font-weight: 500;margin-bottom: 0px;padding-left: 55px;}
 .announcements-cmt-blk .announcements-cmt-tp h4 span{font-size: 14px;font-weight: 400;color: #555555;display: block;}
 .announcements-cmt-blk .announcements-cmt-btm h5{color: #222222;font-size: 16px;font-weight:600;}
 .announcements-cmt-blk .announcements-cmt-btm p{color: #000;font-size: 15px;font-weight:400;line-height: 22px;}
 .announcements-reply-cmt{padding-bottom: 30px;}
 .announcements-reply-cmt .item-desc{display: flex;padding-bottom: 20px;align-items: center;}
 .announcements-reply-cmt .item-desc figure{margin: 0 15px 0 0;}
 .announcements-reply-cmt .item-desc textarea{width: 100%;}
 .announcements-reply-cmt .btn-wrap{text-align: right;}
 .announcements-reply-cmt .btn-wrap .btn-ask-qst{margin-right: 15px;}
 
.sidebar {height: calc(100% - 168px);width: 400px;position: absolute;z-index: 1;top: 168px;right:0;background-color: #fff;overflow-x: hidden;transition: 0.5s;}
.sidebar a {padding: 0;text-decoration: none;color: #30384e;display: block;transition: 0.3s;}
.sidebar .closebtn {position: relative;top: 0;left: 0;font-size: 16px;color: #fff;width: 100%;height: 60px;background-color: #0094D4;display: flex;align-items: center;padding-left: 20px;}
.sidebar .closebtn span{position: absolute;right: 20px;top:6px;font-size: 30px;}
#main {transition: margin-right .5s;padding: 16px;margin-right: 420px;}
#mySideBar .card-header{border-radius: 0 !important;}
#resource .collapse.show{border-left:0}
#video-sec{margin-right: 420px;}

#mySideBar .card{border-radius: 0 !important;}
#mySideBar .card.active{border-left: 5px solid #0094D4 !important;background: #fafafa !important;}
#mySideBar .card.active .card-header{background: #fafafa !important;}


@media screen and (max-height: 450px) {
  .sidebar {padding-top: 0;}
  .sidebar a {font-size: 18px;}
}

footer.dark-footer{background-color: #222222;}
footer .footer-bottom {background: rgb(0, 0, 0);}
.sidebar-btn{font-size:30px;cursor:pointer;float: right;position: absolute;right:0;z-index: 1}
#main{width: 100%;}
footer{background-color: #fff;margin-right: 420px;}
footer.default{background-color: #fff;margin-right: 0;}
.player {position: relative;}
.player video{width: 100%;}
.player .controls button:before {
font-family: HeydingsControlsRegular;
font-size: 20px;
position: relative;
content: attr(data-icon);
color: #aaa;
text-shadow: 1px 1px 0px black;
}
.player .controls {
visibility: hidden;
opacity: 0.5;
width: 98%;
border-radius: 10px;
position: absolute;
bottom: 20px;
left: 50%;
background-color: black;
box-shadow: 3px 3px 5px black;
transition: 1s all;
display: flex;
transform: translateX(-49%);
}
.player:hover .controls,
.player:focus-within .controls {
opacity: 1;
}
.player .controls .timer {
line-height: 38px;
font-size: 10px;
font-family: monospace;
text-shadow: 1px 1px 0px black;
color: white;
flex: 5;
position: relative;
}
.player .controls .timer div {
position: absolute;
background-color: red;
left: 0;
top: 0;
width: 0;
height: 38px;
z-index: 2;
}
.player .controls .timer span {
position: absolute;
z-index: 3;
left: 19px;
}

.student-profile-blk .left-panel{background: #fff;padding-top: 15px;padding-bottom: 15px;height: calc(100vh - 50px);height: 100%;border-radius: 10px;}
.choose-img > input {text-indent: -9999em;margin-top:-25px;display: block;}
.choose-img figure{margin: 0;}
.student-profile-blk .left-panel .nav ul li a {display: block;padding: 15px 15px 15px 60px;position: relative;font-size: 19px;
  color: #fff;line-height: 32px;margin-bottom: 2px;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;-ms-transition: all 0.5s;
  -o-transition: all 0.5s;transition: all 0.5s;}
  .student-profile-blk .left-panel .d-user-avater{padding: 0;}
.d-navigation ul li a {font-size:15px;color: #333;font-weight: 500;display: inline-block;}
.d-navigation ul li:hover>a,.d-navigation ul li.active>a {font-size:15px;color: #0094D4 !important;background: rgba(0, 148, 212, 0.15) !important}

.btn-back{position:relative;}
.btn-back a{position:relative;color: #000;font-size: 15px;font-weight: 600;padding-left: 34px;}
.btn-back a:before{position: absolute;content:'';left:0;top:50%;transform: translateY(-50%);width: 24px;height: 24px;background: url('../img/btn-back.png') no-repeat left center;}
.student-profile-blk .btn-back{padding-top: 20px;}

.student-profile-blk .left-panel .d-user-avater h3{color: #192a31;}
.student-profile-blk .left-panel .d-user-avater span{color: #3c4852;}

.course-module-blk{background: #F8F8F8;border-radius: 1.18px;border:1px solid #E4E4E4;margin-bottom: 35px;}
.course-module-blk .course-module-in{position: relative;padding-left: 45px;margin-bottom: 0;padding-top: 5px;padding-bottom: 10px;background-color: #FBFBFB;}
.course-module-blk .course-module-in:before{position: absolute;content:'';background: url('../img/list-dots.png') no-repeat center 10px;width: 40px;height: 100%;top:0;left: 0;border-right: 1px solid #E4E4E4;}
.course-module-blk .course-module-in h3{position: relative;color: #192A31;font-size: 18px;font-weight: 500;padding-left: 15px;margin-bottom: 0;padding-top: 10px;padding-bottom: 10px;}
.course-module-blk .course-module-in h3 .dropdown{position: absolute;top:5px;right: 20px;}
.course-module-blk .course-module-in h3 .dropdown .btn.btn-action{color: #222222;}
.course-module-blk .course-module-in h3 .theme-bg-light{position: absolute;top:5px;right: 100px;font-size: 15px;font-weight: 500;padding: 5px 25px;border-radius: 5px;}
.course-module-blk .course-module-in h3 .theme-bg-org{position: absolute;top:5px;right: 100px;font-size: 15px;font-weight: 500;padding: 5px 25px;border-radius: 5px;}
.course-module-blk .course-module-in ul {padding-top: 5px;}
.course-module-blk .course-module-in ul li{position: relative;color: #192A31;font-size: 18px;font-weight: 500;padding-left: 45px;margin-bottom: 0;padding-top: 10px;padding-bottom: 10px;border-top: 1px solid #E4E4E4;background-color: #FBFBFB;}
.course-module-blk .course-module-in ul li:before{position: absolute;content:'';background: url('../img/list-dots.png') no-repeat center center;width: 32px;height: 100%;top:0;left: 0;}
.course-module-blk .course-module-in ul li span{color: #888888;font-size: 11px;display: block;}
.course-module-blk .course-module-in ul li .dropdown{position: absolute;top:15px;right: 20px;}
.course-module-blk .course-module-in ul li .dropdown .btn.btn-action{color: #222222;}
.course-module-blk .course-module-in h3 .drp-select.dropdown-menu{border: 1px solid #999999;border-radius: 3px;padding: 0;}
.course-module-blk .course-module-in h3 .drp-select.dropdown-menu a.dropdown-item{border-top:1px solid #DBDBDB;padding: 6px 12px;}
.course-module-blk .course-module-in h3 .drp-select.dropdown-menu a.dropdown-item:first-child{border-top:0;}
.course-module-blk .course-module-in h3 .drp-select.dropdown-menu a.dropdown-item:hover{color: #FF2E2E;}

.theme-org{color: #FF9800;}
.theme-bg-org {background: rgba(254, 197, 61, 0.1) !important;}

.course-setup .add-image{position: relative;background: #FBFBFB;border-radius: 10px;padding: 20px;}
.course-setup .add-image h3{font-size: 20px;margin-bottom: 15px;}
.course-setup .add-image .btn{position:absolute;right: 20px;top:0;}
.course-setup .add-image .btn .custom-file-input{position: absolute;width: 100%;height: 100%;top:0;left: 0;cursor: pointer;}
.course-setup .add-image .img-upload{background: #fff;border-radius: 10px;padding: 50px;text-align: center;position: relative;}
.course-setup p.btm{font-size: 12px;font-weight:400;color: #888888;text-align: right;display: block;}

#newSection{padding: 10px;border:1px dashed #222222;border-radius: 5px;cursor: pointer;}

.course-setup .add-image .img-upload .custom-file-input{position: absolute;width: 100%;height: 100%;top:0;left: 0;cursor: pointer;}

.addList,.new-section{display: none;}
.addList input#addList{width: 50%;height: 40px;}

#newLesson{cursor: pointer;}

.mult-select-tag {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	position: relative;
	--tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	--tw-shadow-color: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
	--border-color: rgb(218, 221, 224);
	font-family: 'Inter', sans-serif;
}

.mult-select-tag .wrapper {
	width: 100%
}

.mult-select-tag .body {
	display: flex;
	border: 1px solid var(--border-color);
	background: #fff;
	min-height: 2.15rem;
	width: 100%;
	min-width: 14rem
}

.mult-select-tag .input-container {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
	padding: .1rem;
	align-items: center
}

.mult-select-tag .input-body {
	display: flex;
	width: 100%
}

.mult-select-tag .input {
	flex: 1;
	background: 0 0;
	border-radius: .25rem;
	padding: .45rem;
	margin: 10px;
	color: #2d3748;
	outline: 0;
	border: 1px solid var(--border-color)
}

.mult-select-tag .btn-container {
	color: #e2ebf0;
	padding: .5rem;
	display: flex;
	border-left: 1px solid var(--border-color)
}

.mult-select-tag button {
	cursor: pointer;
	width: 100%;
	color: #718096;
	outline: 0;
	height: 100%;
	border: none;
	padding: 0;
	background: 0 0;
	background-image: none;
	-webkit-appearance: none;
	text-transform: none;
	margin: 0
}

.mult-select-tag button:first-child {
	width: 1rem;
	height: 90%
}

.mult-select-tag .drawer {
	position: absolute;
	background: #fff;
	max-height: 15rem;
	z-index: 40;
	top: 98%;
	width: 100%;
	overflow-y: scroll;
	border: 1px solid var(--border-color);
	border-radius: .25rem
}

.mult-select-tag ul {
	list-style-type: none;
	padding: .5rem;
	margin: 0
}

.mult-select-tag ul li {
	padding: .5rem;
	border-radius: .25rem;
	cursor: pointer
}

.mult-select-tag ul li:hover {
	background: rgb(243 244 246)
}

.mult-select-tag .item-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3px 10px;
	margin: .2rem;
	font-weight: 500;
	border: 1px solid;
	border-radius: 9999px
}

.mult-select-tag .item-label {
	max-width: 100%;
	line-height: 1;
	font-size: 16px;
	font-weight: 400;
	flex: 0 1 auto
}

.mult-select-tag .item-close-container {
	display: flex;
	flex: 1 1 auto;
	flex-direction: row-reverse
}

.mult-select-tag .item-close-svg {
	width: 1rem;
	margin-left: .5rem;
	height: 1rem;
	cursor: pointer;
	border-radius: 9999px;
	display: block;
  color: #FF2E2E;
  ;
}

.hidden {
	display: none
}

.mult-select-tag .shadow {
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.mult-select-tag .rounded {
	border-radius: .375rem
}

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../fonts/glyphicons-halflings-regular.eot');
	src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
  }

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-time:after {content: "\e023";}
.glyphicon-chevron-down:after {content: "\e114";}
.glyphicon-chevron-up:after {content: '\e080';}

.course-lesson-edit-bx{background: #FBFBFB;border-radius: 8px;border: 1px solid rgba(85, 85, 85, 0.8);position: relative;padding: 25px;}
.course-lesson-edit-bx .btn.primary{position: absolute;top:23px;right: 75px;}
.course-lesson-edit-bx .btn.publish{position: absolute;top:23px;right: 75px;border: 1px solid #222222;background-color: #fff;font-weight: 500;}
.course-lesson-edit-bx .dropdown{position: absolute;top:23px;right: 20px;}
.course-lesson-edit-bx .dropdown .btn.btn-action{color: #222222;}
.course-lesson-edit-bx h2{font-size: 32px;}
.course-lesson-edit-bx .add-content-bx{background: #F2F2F2;margin:50px -25px 25px;padding: 50px 25px;text-align: center;border-top: 1px solid #E4E4E4;border-bottom: 1px solid #E4E4E4;}
.course-lesson-edit-bx .add-content-bx p{font-size: 18px; color: #333;font-weight: 500;}
.course-lesson-edit-bx .add-content-bx .btn.primary{position: relative;top: 0;left: 0;}
.delete a{display: flex;align-items: center;}
.lesson-settings-bx{display: flex;flex-direction: column;margin-bottom: 25px;}
.lesson-settings-bx p.bld{font-weight: 500;font-size: 18px;}
.lesson-settings-bx .lesson-settings-frm-grp{display: flex;flex-direction: row;align-items: center;}
.lesson-settings-bx .lesson-settings-frm-grp .switch{margin-right: 10px;}

.switch {position: relative;display: inline-block;width: 60px;height: 34px;}
.switch input {opacity: 0;width: 0;height: 0;}
.slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;}
.slider:before {position: absolute;content: "";height: 26px;width: 26px;left: 4px;bottom: 4px;background-color: white;-webkit-transition: .4s;transition: .4s;}
input:checked + .slider {background-color: #2196F3;}
input:focus + .slider {box-shadow: 0 0 1px #2196F3;}
input:checked + .slider:before {-webkit-transform: translateX(26px);-ms-transform: translateX(26px);transform: translateX(26px);}  
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}

.course-outline-bx{background: #FBFBFB;border-radius: 8px;border: 1px solid rgba(85, 85, 85, 0.8);position: relative;padding: 25px;}
.course-outline-bx .edit{position: absolute;cursor: pointer;top: 30px;right: 20px;font-size: 20px;color:#222222;text-decoration: underline;transition: all 0.5s;}
.course-outline-bx .edit:hover{text-decoration: none;}
.course-outline-bx ul{text-align: left;}
.course-outline-bx ul li{font-size: 17px;color: #777777;padding-bottom: 20px;padding-left:20px}
.course-outline-bx h2{margin-bottom: 30px;}
.course-outline-bx h3{font-size: 20px;color: #666666;margin-bottom: 25px;}
.la {width: 100%;float: left;height: 195px;overflow-y: scroll;margin-bottom: 25px;direction: rtl;margin-left: 15px;}  
.la::-webkit-scrollbar-track {padding: 2px 0;background-color: #BEBEBE;}
.la::-webkit-scrollbar {width: 4px;}
.la::-webkit-scrollbar-thumb {border-radius: 4px;	box-shadow: inset 0 0 6px rgba(0,0,0,.3);	background-color: #000;cursor: pointer;}

.course-addCnt-bx{background: #fff;border-radius: 8px;border: 1px solid rgba(85, 85, 85, 0.8);position: relative;height: 100%;}
.course-addCnt-bx h2{padding: 10px 15px;border-bottom: 1px solid rgba(85, 85, 85, 0.8);font-weight: 400;font-size: 30px;margin: 0;}
.course-addCnt-bx .close{position: absolute;cursor: pointer;top: 17px;right: 20px;font-size: 20px;color:#222222;font-weight:400;transition: all 0.5s;}
.course-addCnt-bx .inner{padding: 30px 5px 30px 30px;}
.course-addCnt-bx .inner h3{font-size: 20px;color: #000;margin-bottom: 25px;font-weight: 400;}
.course-addCnt-bx .inner .bx{width:46%;border:1px solid #E4E4E4;border-radius: 5px;padding: 10px;text-align: center;margin: 0 15px 25px 0;display: inline-block;cursor: pointer;}
.course-addCnt-bx .inner .bx figure{min-height: 40px;margin-top: 10px;}
.course-addCnt-bx .inner .bx p{font-weight: 600;color: #000;}

.course-add-cnt_img-bx{background: #FBFBFB;border-radius: 8px;border: 1px solid rgba(85, 85, 85, 0.8);position: relative;}
.course-add-cnt_img-bx h2{padding: 15px 15px;border-bottom: 1px solid #E4E4E4;font-size: 30px;margin: 0;}
.course-add-cnt_img-bx .inner{padding: 30px 30px 30px 30px;}
.course-add-cnt_img-bx h3{font-size: 18px;color: #000;margin-bottom:15px;font-weight: 500;}
.course-add-cnt_img-bx.edit .item-desc{border: 1px solid #999999;border-radius: 4px;padding: 25px 15px;background-color: #fff;position: relative;margin-bottom: 25px;}
.course-add-cnt_img-bx.edit .item-desc h2{padding: 0;border-bottom: 0;font-size: 30px;margin-bottom: 15px;}
.course-add-cnt_img-bx.edit .item-desc p{color:#192A31;margin-bottom: 10px;border-bottom: 0;font-size: 18px;}
.course-add-cnt_img-bx.edit .item-desc .dropdown{position: absolute;right: 20px;top: 15px;}
.course-add-cnt_img-bx.edit .edit{position: absolute;cursor: pointer;top: 20px;right: 80px;font-size: 16px;color:#000;text-decoration: underline;transition: all 0.5s;}
.course-add-cnt_img-bx.edit .edit:hover{text-decoration: none;}

.course-add-cnt_img-bx.video {text-align: center;}
.course-add-cnt_img-bx.video h2{text-align: left;}
.course-add-cnt_img-bx.video h4{color: #000;font-size: 28px;}

.btn.primary.vUpload{position: relative;padding-left: 45px;margin-bottom: 20px;}
.btn.primary.vUpload:before{position: absolute;content:'';width: 30px;height: 30px;background:url('/assets/img/ic-upload.png') 0 center;left: 10px;top:5px}

.course-progress-bar{border-radius: 6px;background-color: #fff;position: relative;display: flex;margin-bottom: 25px;}
.course-progress-bar .close{position: absolute;top:-15px;right: -15px;}
.course-progress-bar .play{padding: 25px;border-right: 2px solid #CCCCCC;}
.course-progress-bar .item-desc {padding: 20px 25px 10px;display: flex;flex-direction: column;width: 100%;}
.course-progress-bar .item-desc p{color: #666666;text-align: left;font-size: 18px;font-weight: 500;}
.course-progress-bar .item-desc .item-bx{width: 100%;background-color: #0094D4;height: 4px;}

.course-add-cnt_img-bx.resource{margin-top: 0;}
.course-add-cnt_img-bx.resource .dropdown{position: absolute;right: 20px;top: 15px;}
.browse-blk,.video-blk{position: relative;flex-direction: column;align-items: center;}
.browse-blk img{width: 60px;}
.browse-blk .btn{margin-top: 20px;}
.browse-blk .custom-file-input,.video-blk .custom-file-input {position: absolute;width: 100%;height: 100%;top: 0;left: 0;cursor: pointer;}

.courseBlk{display: none;}
#cngPw .modal-header{justify-content: right;}
.form-group {margin-bottom: 22px !important;}

.enroll-wrap{margin-bottom: 40px;}
.enroll-wrap h4{font-weight: 600;font-size: 18px;}
.enroll-wrap p{font-size: 16px;}
.enroll-wrap .enroll-frm-gp{border-radius: 8px;border:1px solid #E4E4E4;}
.enroll-wrap .enroll-frm-gp .form-group{padding: 25px;background-color: #FBFBFB;border-bottom: 1px solid #EFEFF5;margin-bottom: 0 !important;}

.student-purchase-blk .single_instructor{-webkit-box-shadow: 0px 0px 20px 0px rgba(63,28,131,0.1);-moz-box-shadow: 0px 0px 20px 0px rgba(63,28,131,0.1);box-shadow: 0px 0px 20px 0px rgba(63,28,131,0.1);margin-bottom: 50px;}
.student-purchase-blk ul.instructor_info li p{color: #0094D4;font-size: 15px;font-weight: 600;}
.student-purchase-blk ul.instructor_info li p span{color: #262B38;font-style: italic;}
.student-purchase-blk .single_instructor .btm-row{display: flex;align-items: center;}
.student-purchase-blk .single_instructor .btm-row .btn.publish a {padding:5px 25px;display: block;border: 1px solid #999999;background-color: #fff;font-weight: 500;color: #FF2E2E;border-radius: 3px;}


#unEnroll .modal-header{justify-content: right;}
#unEnroll .modal-body{text-align: center;}
#unEnroll p{font-weight: 500;color: #000;font-size: 24px;text-align: center;margin-bottom: 25px;}
#unEnroll .btn{font-weight: 600;font-size: 20px;}